@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Tilt+Neon&family=Tilt+Prism&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CD5C5C;
  background-color: #E9967A;
}

header {
  background-color: #F08080;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  font-family: 'Tilt Prism', sans-serif;
}

.gallery-image img {
  width: 100%;
}
.button_holder {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
button {
  background-color: indianred;
  border-color: whitesmoke;
  border-radius: 5pt;
  font-family: 'Tilt Neon', sans-serif;
  font-weight: 'Bold 700', bolder;
  color: black;
  width: 5rem;
}

figcaption {
  margin: 0.5rem;
}

.hideThis {
  display: none;
}
.contact {
  font-family: 'Tilt Prism', sans-serif;
}

.maintext {
  background-color: #FFA07A;
  float: center;
  padding: 10px;
  font-family: 'Noto Serif', serif;
  font-weight: 100;
  font size: 1rem;
  max-width: 100%;
  min-width: 30%;
}

p {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.nav1 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-family: 'Tilt Neon', sans-serif;
}


a {
  text-decoration: inherit;
  list-style: inherit;
  color: #whitesmoke;
}


ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}


img {
  border: none;
  display: flex;
  justify-content: center;
  width:450px;
}


.maintext {
  display: flex;
    justify-content: center; 
      align-items: center;
      flex-direction: column; 
        background: #DEDEDE;
        border-radius: 1em;
        padding: 1em;
        max-width: 800px;
}

.joke {
  font-family: 'Tilt Neon', sans-serif;
  width: 80%;
  background-color: #CD5C5C;
}

.jokepunchline {
  font-family: 'Tilt Prism', sans-serif;
  background-color: #FFA07A;
}

.colorslist {
  font-family: font-family: 'Tilt Neon', sans-serif;
  text-align: center;
}

footer {
  background-color: #F08080;
  padding: 20px;
  font-family: 'Tilt Neon', sans-serif;
}

@media screen and (max-width: 992px){
  div .book {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: auto;
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
    header .nav ul{
      list-style-type: none;
      display: inline-flex;
      align-content: flex-end;
      flex-direction: column;
  }

